@model BudgetPlanner.Models.Category.CategoryDetail

@{
    ViewBag.Title = "Details";
}

<div class="custom-header text-center d-flex">
    <span>@Html.DisplayFor(model => model.Name)</span>
    <h4>Category Detail</h4>
</div>
<hr />
<div class="general-use-container d-flex">
    <div class="general-use-header-blue text-center">

        <span>This is @Html.DisplayNameFor(model => model.CategoryId):</span>

        @Html.DisplayFor(model => model.CategoryId)
    </div>
    <table class="category-budget-list-table col-sm-12 d-flex">
        <tr class="general-use-header text-center" colspan="2">
            <td colspan="2">
                <span>@Html.DisplayNameFor(model => model.ListOfBudgets)</span>
            </td>
        </tr>
        <tr>
                <th class="general-use-header text-center d-flex flex-row"> 
                    Budget Name:
                </th>
                <th class="general-use-header text-center d-flex flex-row">
                    Budget ID Number:
                </th>
        </tr>
        @foreach (var budget in Model.ListOfBudgets)
        {
            <tr class="text-center">
                <td class="category-budget-list">
                    @budget.BudgetName
                </td>
                <td class="category-budget-list">
                    @budget.BudgetId
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
