@model IEnumerable<BudgetPlanner.Models.Category.CategoryListItem>

@{
    ViewBag.Title = "Index";
}

<div class="custom-header text-center d-flex">
    <span>Categories</span>
</div>

<div class="button-wrapper text-center">
    <button type="button" class="general-button btn btn-default text-center">
        @Html.ActionLink("Create New", "Create")
    </button>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<br />

<div class="general-use-container table-responsive-sm">
    <div class="general-use-header-blue text-center"><span>You have the following Categories:</span></div>
    <table class="table table-hover">
        <tr class="general-use-header text-center">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                </td>
            </tr>
        }

    </table>
</div>