@model BudgetPlanner.Models.BudgetDetail

@{
    ViewBag.Title = "Details";
}
<div class="budget-header text-center">
    <h2>@Html.DisplayFor(model => model.BudgetName)</h2>
    <h4>@Html.DisplayFor(model => model.BudgetName) Details</h4>
</div>

<div>
    <hr />
    <div class="budget-detail-category-container col-xl-1">
            <dd>
                <div class="budget-detail-limits text-center">
                    <span>@Html.DisplayNameFor(model => model.BudgetAmount):</span> @Html.DisplayFor(model => model.BudgetAmount)
                    <br />
                    <span>@Html.DisplayNameFor(model => model.AmountSpent):</span> @Html.DisplayFor(model => model.AmountSpent)
                </div>
            </dd>
        <dd>
            @foreach (var category in Model.ListOfCategories)
            {
                <div class="budget-detail-category-card ">
                    <div class="category-header text-center">
                        <span id="category-name">@category.Name</span>
                        <span id="category-limits">Limit:@string.Format("{0:C}", category.CategoryAmount)      Spent: @string.Format("{0:C}", category.AmountSpent)     Available: @string.Format("{0:C}", category.RemainingCategoryAmount)</span>
                    </div>
                    <div class="budget-transaction-display">
                        <ul>
                            @foreach (var transaction in Model.ListOfTransactions)
                            {
                                if (transaction.CategoryId == category.CategoryId)
                                {
                                    <ul>
                                        <h4>@transaction.MerchantName</h4>
                                        , @string.Format("{0:C}", transaction.Amount)
                                    </ul>
                                    <ul>
                                        Date: @transaction.TransactionDate.ToString("MM/dd/yyyy")
                                        <hr />
                                    </ul>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
    </div>
    </dd>
</div>
<div class="viewing-message text-center">
    <p>
        You are currently viewing budget number:
        @Html.DisplayFor(model => model.BudgetId), @Html.DisplayFor(model => model.BudgetName)
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BudgetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
