@model BudgetPlanner.Models.BudgetDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.BudgetName)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.BudgetName) Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BudgetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RemainingBudgetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingBudgetAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListOfCategories)
        </dt>
        <dd>
            @foreach (var category in Model.ListOfCategories)
            {
                <div class="budget-detail-category-card">
                    <div class="category-header">
                        <ul>@category.Name          Limit:@string.Format("{0:C}", category.CategoryAmount)      Remaining: @string.Format("{0:C}", category.RemainingCategoryAmount)</ul>
                    </div>
                    <div class="budget-transaction-display">
                        <ul>
                            @foreach (var transaction in Model.ListOfTransactions)
                            {
                                if (transaction.CategoryId == category.CategoryId)
                                {
                                    <ul>
                                        <h4>@transaction.MerchantName</h4>
                                        , @string.Format("{0:C}", transaction.Amount)
                                    </ul>
                                    <ul>Date: @transaction.TransactionDate.ToString("MM/dd/yyyy")</ul>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListOfTransactions)
        </dt>
        <dd>
            @foreach (var item in Model.ListOfTransactions)
            {
                @*<ul>@item.TransactionId</ul>*@
                <ul>@item.MerchantName</ul>
                <ul>@string.Format("{0:C}", item.Amount)</ul>
                <ul>@item.TransactionDate.ToString("MM/dd/yyyy")</ul>
                @*<ul>@item.CategoryId</ul>*@
            }
            @*@Html.DisplayFor(model => model.ListOfTransactions)*@

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BudgetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
