@model IEnumerable<BudgetPlanner.Models.Memo.MemoListItem>

@{
    ViewBag.Title = "Index";
}

<div class="custom-header text-center d-flex">
    <span>Memo Index</span>
</div>

<div class="button-wrapper text-center">
    <button class="general-button btn btn-default text-center">
        @Html.ActionLink("Create New", "Create")
    </button>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            @ViewBag.Save Result
            <buton type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </buton>
            @TempData["SaveResult"]
        </div>
    }
</div>
<br />

<div class="general-use-container table-responsive-sm">
    <div class="general-use-header-blue text-center"><span>You have entered the following Memos:</span></div>

    <table class="table table-hover">
        <tr class="general-use-header text-center">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MemoContent)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemoContent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })
                </td>
            </tr>
        }

    </table>
</div>