@model BudgetPlanner.Models.BudgetCategory.BudgetCategoryDetail

@{
    ViewBag.Title = "Details";
}

<div class="custom-header text-center d-flex">
    <span>Category Limit Details</span>
</div>

<div>
    <hr />
    <div class="general-use-container text-center">
        <dl class="dl-horizontal">
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.BudgetId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BudgetId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BudgetId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>