@model IEnumerable<BudgetPlanner.Models.Transaction.TransactionListItem>

@{
    ViewBag.Title = "Index";
}

<div class="custom-header text-center d-flex">
    <span>Transaction Index</span>
</div>
<hr />
<div class="button-wrapper text-center">
    <div class="general-button btn text-center">
        @Html.ActionLink("New Transaction", "Create")
    </div>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<br />

<div class="general-use-container table-responsive-sm">
    <div class="general-use-header-blue text-center"><span>You have entered the following transactions.</span></div>
    <table class="table table-hover">
        <tr class="general-use-header text-center">
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MerchantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })
                </td>
            </tr>
        }

    </table>
</div>
